@font-face {
	font-family: 'amatic_scbold';
	src: url('../fonts/amatic_sc/amaticsc-bold.eot');
	src: url('../fonts/amatic_sc/amaticsc-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/amatic_sc/amaticsc-bold.woff') format('woff'),
	url('../fonts/amatic_sc/amaticsc-bold.ttf') format('truetype'),
	url('../fonts/amatic_sc/amaticsc-bold.svg#amatic_scbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'amatic_scregular';
	src: url('../fonts/amatic_sc/amaticsc-regular.eot');
	src: url('../fonts/amatic_sc/amaticsc-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/amatic_sc/amaticsc-regular.woff') format('woff'),
	url('../fonts/amatic_sc/amaticsc-regular.ttf') format('truetype'),
	url('../fonts/amatic_sc/amaticsc-regular.svg#amatic_scregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
