@import "amatisc.css";

body {
	font-size: 14px;
}

.amatic_scregular {
	font-family: amatic_scregular;
}

.amatic_scbold {
	font-family: amatic_scbold;
}

header {
	z-index: 10;
}

main {
	z-index: 9;
}

.nav-link {
	padding: 7px 10px;
}

.nav-link:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.frn-header-logo {
	position: relative;
	top: -6px;
}

.frn-social-icon svg {
	width: 28px;
}

.frn-header-addresses,
.frn-header-phones {
	list-style: none;
	display: inline-block;
	margin: 0;
	position: absolute;
	height: 32px;
	top: -5px;
	left: 0;
	z-index: 10;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: #ffffff;
	overflow: hidden;
}

.frn-header-addresses li,
.frn-header-phones li {
	white-space: nowrap;
}

.frn-header-addresses:hover,
.frn-header-phones:hover {
	height: auto;
}

.frn-header-addresses-container {
	position: relative;
	width: 290px;
}

.frn-header-phones-container {
	position: relative;
	width: 160px;
}

.frn-header-bottom {
	background-color: #e9e9e9;
}

.frn-categories-container {
	background-color: #e9e9e9;
	padding: 20px 0;
}

.frn-icon-svg {
	height: 100px;
	fill: #606060;
}

.frn-icon-svg svg {
	max-height: 100px;
	margin: 0 auto;
	/*max-width: 80% !important;*/
}

.frn-category-item a {
	color: #606060;
	font-weight: bold;
}

.frn-category-item svg {
	fill: #606060
}

.frn-news-container a {
	display: inline-block;
	line-height: 1;
}

.frn-product-container {
	border-right: 1px solid #898989;
	display: none;
}

.frn-news-container {
	display: none;
}

.frn-product-container:last-child {
	border-right: 0;
}

.frn-product-container a {
	font-size: 14px;
	color: #dc3724;
	line-height: 14px;
	display: inline-block;
	text-decoration: underline;
}

.frn-product-image-container {
	height: 181px;
	padding: 11px 20px;
	position: relative;
}

.frn-category-main-title h3 {
	display: inline-block;
}

.frn-live-icon {
	display: inline-block;
	width: 32px;
	height: 21px;
	background: url(../images/live-icon.jpg) no-repeat 0 0;
	position: relative;
	top: 1px;
}

.frn-fire-icon {
	display: inline-block;
	width: 41px;
	height: 40px;
	background: url(../images/fire-icon.jpg) no-repeat 0 0;
}

.frn-new-icon {
	display: inline-block;
	width: 41px;
	height: 40px;
	background: url(../images/new-icon.jpg) no-repeat 0 0;
}

.frn-top-icon {
	display: inline-block;
	width: 41px;
	height: 40px;
	background: url(../images/top-icon.jpg) no-repeat 0 0;
}

.frn-favorite-link,
a.frn-favorite-link {
	position: absolute;
	top: 0;
	right: 0;
	color: #212529;
	background-color: rgba(255, 255, 255, 0.75);
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	border-radius: 5px;
}

.frn-like {
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../images/like-disable.png) no-repeat 0 0;
	background-size: contain;
}

.frn-likes {
	display: inline-block;
	width: 44px;
	height: 40px;
	background: url(../images/like-active.png) no-repeat 0 0;
	background-size: contain;
}

.frn-basket-icon {
	display: inline-block;
	width: 36px;
	height: 40px;
	background: url(../images/basket-icon.jpg) no-repeat 0 0;
	background-size: contain;
}

.frn-basket-icon-svg {
	display: block;
	width: 21px;
	height: 24px;
	background: url(../images/basket-icon.svg) no-repeat 0 0;
	background-size: contain;
	margin: auto;
	position: absolute;
	top: 4px;
	left: 1px;
	right: 0;
	bottom: 0;
}

.frn-favorite-icon {
	display: inline-block;
	width: 44px;
	height: 40px;
	background: url(../images/favorite-icon.jpg) no-repeat 0 0;
	background-size: contain;
}

.frn-favorite-link.add .frn-like {
	background-image: url(../images/like-enable.png);
}

.frn-favorite-link.add,
a.frn-favorite-link.add {
	color: #de3828;
}

.frn-basket,
a.frn-basket {
	display: inline-block;
	background-color: #f4f4f4;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 5px;
	color: #434343;
	cursor: pointer;
	position: relative;
}

.frn-product-image {
	height: 159px;
	background: none no-repeat center center;
	background-size: cover;
}

.frn-badges-container {
	position: absolute;
	top: 5px;
	left: 0;
}

.frn-badges-container .badge {
	display: block;
	margin-bottom: 6px;
	height: 20px;
	width: max-content;
	font-weight: normal;
	line-height: 15px;
}

.bg-danger {
	background-color: #ff1709 !important;
}

.btn-danger {
	background-color: #e52518;
}

.badge-danger {
	background-color: #ff1808;
}

.badge-success {
	background-color: #45b758;
}

.badge-primary {
	background-color: #3d67af;
}

.badge-warning {
	background-color: #fe0b5d;
	color: #ffffff;
}

.badge-info {
	background-color: #fef995;
	color: #000000;
}


.frn-rating {
	direction: rtl;
	text-align: left;
	font-size: 14px;
}

.frn-rating span.star {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
}

.frn-rating span.star:before {
	content: "\f006";
	padding-right: 3px;
	color: #fff323;
}

.frn-rating span.star:hover:before,
.frn-rating span.star.add:before,
.frn-rating span.star:hover ~ span.star:before,
.frn-rating span.star.add ~ span.star:before {
	content: "\f005";
}

.frn-reviews {
	font-size: 12px;
	color: #434343;
}

.frn-price-container s {
	font-size: 13px;
	position: relative;
	top: -1px;
	text-decoration: none;
	line-height: 0;
	height: 2px;
}

.frn-price-container s:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 2px;
	width: 100%;
	background-color: #ff1709;
}

.frn-price-container strong {
	display: inline-block;
	background-color: #feeac9;
	color: #f24a41;
	border-radius: 5px;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	margin-right: 10px;
	font-size: 16px;
}

.frn-cakes {
	color: #006500;
	background-color: #abd38d;
	height: 22px;
	margin-left: 38px;
	position: relative;
	top: -6px;
	padding-top: 6px;
}

.frn-cakes:before {
	content: "";
	position: absolute;
	display: inline-block;
	background: url(../images/cake.jpg) no-repeat 0 0;
	width: 26px;
	height: 30px;
	left: -38px;
	top: -4px;
}

.carousel-item {
	height: 458px;
	background: none no-repeat center center;
	background-size: cover;
}

.frn-rewards-box {
	background-color: #e9e9e9;
}

.frn-rewards {
	position: relative;
}

.frn-rewards:after {
	position: absolute;
	content: '';
	width: 208px;
	height: 130px;
	background: url(../images/FRANKE_illu_KS_double-paperplane.svg) no-repeat 50% 50%/contain;
	left: -11px;
	top: -48px;
}

.frn-main-text-container {
	position: relative;
	padding-bottom: 100px !important;
}

.frn-main-text-container:after {
	content: "";
	width: 109px;
	height: 92px;
	position: absolute;
	bottom: 0;
	background: url(../images/pdf_motobyke_rev.png) no-repeat 0 0;
	background-size: contain;
	right: 0;
}


footer {
	min-height: 562px;
	background: #e9e9e9 url(../images/footer-bg-mob.jpg) no-repeat right bottom;
	font-size: 14px;
}

.col {
	width: calc(100% / 2);
	max-width: 50%;
}

.frn-footer-menu {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	font-weight: bold;
}

.frn-footer-menu li {
	line-height: 28px;
}

.no-wrap {
	white-space: nowrap;
}


.frn-product-container:nth-child(1),
.frn-product-container:nth-child(2),
.frn-news-container:nth-child(1),
.frn-news-container:nth-child(2) {
	display: block;
}

@media (min-width: 576px) {
	.frn-news-container:nth-child(1),
	.frn-news-container:nth-child(2),
	.frn-product-container:nth-child(1),
	.frn-product-container:nth-child(2) {
		display: block;
	}
}

@media (min-width: 768px) {
	.col {
		width: calc(100% / 4);
		max-width: 25%;
	}

	.frn-news-container:nth-child(3),
	.frn-news-container:nth-child(4),
	.frn-product-container:nth-child(3),
	.frn-product-container:nth-child(4) {
		display: block;
	}

	.frn-header-top {
		min-height: 35px;
	}

	footer {
		background: #e9e9e9;
	}

	.frn-bg-md-col {
		min-height: 562px;
		background: url(../images/footer-bg-col.jpg) no-repeat left bottom;
		background-size: contain;
	}
}

@media (min-width: 992px) {
	.col {
		width: calc(100% / 6);
		max-width: 16.667%;
	}

	.frn-news-container:nth-child(5),
	.frn-news-container:nth-child(6),
	.frn-product-container:nth-child(5),
	.frn-product-container:nth-child(6) {
		display: block;
	}

	.w-lg-70 {
		width: 70% !important;
	}

	/*.d-none.d-lg-inline,*/
	/*.d-none.d-lg-inline-block,*/
	/*.d-none.d-lg-block,*/
	/*.d-none.d-lg-table,*/
	/*.d-none.d-lg-table-row,*/
	/*.d-none.d-lg-table-cell,*/
	/*.d-none.d-lg-flex,*/
	/*.d-none.d-lg-inline-flex {*/
	/*	display: none !important;*/
	/*}*/
}

@media (min-width: 1200px) {

	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 80%;
	}

	.d-lg-none {
		display: none !important;
	}
	.d-lg-inline {
		display: inline !important;
	}
	.d-lg-inline-block {
		display: inline-block !important;
	}
	.d-lg-block {
		display: block !important;
	}
	.d-lg-table {
		display: table !important;
	}
	.d-lg-table-row {
		display: table-row !important;
	}
	.d-lg-table-cell {
		display: table-cell !important;
	}
	.d-lg-flex {
		display: -ms-flexbox !important;
		display: flex !important;
	}
	.d-lg-inline-flex {
		display: -ms-inline-flexbox !important;
		display: inline-flex !important;
	}

	.d-none.d-xl-inline,
	.d-none.d-xl-inline-block,
	.d-none.d-xl-block,
	.d-none.d-xl-table,
	.d-none.d-xl-table-row,
	.d-none.d-xl-table-cell,
	.d-none.d-xl-flex,
	.d-none.d-xl-inline-flex {
		display: none !important;
	}
}

@media (min-width: 1580px) {
	.d-none.d-xl-none,
	.d-xl-none {
		display: none !important;
	}
	.d-none.d-xl-inline,
	.d-xl-inline {
		display: inline !important;
	}
	.d-none.d-xl-inline-block,
	.d-xl-inline-block {
		display: inline-block !important;
	}
	.d-none.d-xl-block,
	.d-xl-block {
		display: block !important;
	}
	.d-none.d-xl-table,
	.d-xl-table {
		display: table !important;
	}
	.d-none.d-xl-table-row,
	.d-xl-table-row {
		display: table-row !important;
	}
	.d-none.d-xl-table-cell,
	.d-xl-table-cell {
		display: table-cell !important;
	}
	.d-none.d-xl-flex,
	.d-xl-flex {
		display: -ms-flexbox !important;
		display: flex !important;
	}
	.d-none.d-xl-inline-flex,
	.d-xl-inline-flex {
		display: -ms-inline-flexbox !important;
		display: inline-flex !important;
	}

	.col {
		width: calc(100% / 8);
		max-width: 12.5%;
	}

	.frn-news-container:nth-child(7),
	.frn-news-container:nth-child(8),
	.frn-product-container:nth-child(7),
	.frn-product-container:nth-child(8) {
		display: block;
	}

	footer {
		font-size: 16px;
	}

	.w-xl-50 {
		width: 50% !important;
	}
}
